

<%= form_with model: @invoice    do |invoice| %>
   
    <div class="mb-3">
        <%= invoice.select  :customer_id,  Customer.pluck(:full_name, :id)  %>
    </div> 
    <div class="mb-3">
        <%= invoice.date_field :date, autofocus: true%>
    </div> 
   
   
    <div class="mb-3">
    <%= invoice.submit  %>
    </div>

    <%= link_to "Back" , invoices_path %>
   

<% end %>