


<%= form_with model: @waste, url:  wastes_path    do |waste| %>

    <div class="mb-3">
    <%= waste.select :product_id, Product.pluck(:product_details, :id) %>
  </div> 
 
   
    <div class="mb-3">
        <%= waste.text_area :details, autofocus: true,  cols: 30, rows: 2, placeholder:"Waste Details" %>
    </div> 
    <div class="mb-3">
        <%= waste.text_field :unit, autofocus: true,   placeholder:"Unit" %>
    </div> 
    <div class="mb-3">
        <%= waste.number_field :quantity, autofocus: true,   placeholder:"Quantity" %>
    </div> 
    <div class="mb-3">
        <%= waste.number_field :unit_price, autofocus: true, step: :any,  placeholder:"Unit Price" %>
    </div> 
    
  
   
   
    <div class="mb-3">
    <%= waste.submit  %>
    </div>

    <%= link_to "Back", wastes_path %>
   

<% end %>