

<%= form_with model: @waste, url:  wastes_path    do |waste| %>


    <div class="flex flex-col m-auto  gap-3 w-[70%] ">
      <div class="flex flex-col ">
        <lable for='name'>‌ Product Name </lable>
        <%=waste.select :product_id, Product.pluck(:product_details, :id)  ,
        class:"peer border border-slate-400  rounded-md bg-white " %>      
     </div>

    <div class="flex flex-col" >
        <lable for='name'>Wast Details</lable>
        <%=  waste.text_area :details, autofocus: true,  cols: 30, rows: 2, :required=> true,  placeholder:"Bejak Details",
        class:"peer border border-slate-400  rounded-md bg-white " %>  
   </div>

    <div class="flex flex-col ">
        <lable for='name'>Unit</lable>
        <%=   waste.text_field :unit, autofocus: true, :required=> true,   placeholder:"Unit",
        class:"peer border border-slate-400  rounded-md bg-white " %>             
    </div>

   

    <div class="flex flex-col ">
        <lable for='name'>Quantity</lable>
        <%= waste.number_field :quantity, autofocus: true, :required=> true,   placeholder:"Quantity",
        class:"peer border border-slate-400  rounded-md bg-white " %>          
    </div>
    <div class="flex flex-col ">
        <lable for='name'>Unit Price</lable>
        <%=  waste.number_field :unit_price, autofocus: true, step: :any, :required=> true,  placeholder:"Unit Price",
        class:"peer border border-slate-400  rounded-md bg-white " %>          
    </div>
    
   <div class="flex  justify-between ">
     <div class="flex">
      <%= waste.submit  "Save", class:" w-20 p-2  text-white font-bold cursor-pointer bg-blue-500 rounded-md" %>
     </div>

     <div class='flex'>
     <%= link_to "Back",wastes_path, class:" w-20 p-2  text-white text-center font-bold cursor-pointer bg-slate-600 rounded-md" %>
     </div>

    </div>
   </div>
<% end %>

