

<%= form_with model:  @user   do |f| %>
    <% if @user.errors.any? %>
<div class="alert alert-danger">
<% @user.errors.full_messages.each do |message| %>
    <div > <%= message %></div>
 <% end %>
</div>
<% end %>

    <div>
    <%= f.text_field :fullname ,  placeholder:"Full Name", autofocus:true %>
    </div>
    <div>
   
        <div>
        <%= f.email_field :email ,   placeholder:"Enter email" %>
    </div>
    <div>
    <%= f.password_field :password, placeholder:"Password"   %>
    </div>

    <div>
    <%= f.submit%>
    </div>
    <%= link_to "Back" , root_path %>
   
    <% end %>