<%= form_with model: @customer  do |form| %>
    <div class="modal-body text-gray-700 p-4">
        <div class="flex flex-col ">
            <lable for='name'>Full Name</lable>
            <%= form.text_field :full_name, placeholder:" Full Name", required: true,
            class:"peer border border-slate-400  rounded-md bg-white"  %>   
        </div>

        <div class="flex flex-col ">
            <lable for='name'>address</lable>
            <%= form.text_field :address, placeholder:"Address", required: true,
            class:"peer border border-slate-400  rounded-md bg-white  "   %>
        </div>

        <div class="flex flex-col ">
            <lable for='name'>Phone</lable>
            <%= form.text_field :phone, placeholder:"+93", required: true,
            class:"peer border border-slate-400  rounded-md bg-white  "   %>    
        </div>
    </div>
    
    <div class="modal-footer">
        <%= form.submit data: {action: "click->bs-modal#submitEnd"},  class:" w-40 p-2  text-white font-bold cursor-pointer bg-blue-500 rounded-md" %>
        <button class="bg-red-500 text-white p-2 rounded" data-bs-dismiss="modal">Close</button>
    </div>
<% end %>
