

<%= form_with model: @customer  do |e| %>
   

    <div class="mb-3">
        <%= e.text_field :full_name, autofocus: true,   placeholder:"Full Name" %>
    </div> 
    <div class="mb-3">
        <%= e.text_field :address, autofocus: true,   placeholder:"Address" %>
    </div>
    <div class="mb-3">
        <%= e.text_field :phone, autofocus: true,  placeholder:"Phone" %>
    </div>
   <div>
    <button>
    <%= e.submit  %>
    </button>
</div>
   <%= link_to "Back", customers_path %>
   

<% end %>